@import './checkout/card-section/index';
@import './checkout/card/index';
@import './checkout/index';

body, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.hidden {
	display: none;
}
